{% extends "administrator/base.html" %}
{% block metadata %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock metadata %}
{% block topbar %}
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./">Attendance</a>
{% endblock topbar %}
{% block header %}
<div class="header bg-gradient-indigo pb-8 pt-5 pt-md-8">
   <div class="container-fluid d-flex align-items-center">
      <div class="row">
         <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello {{ user.get_short_name }}</h1>
            <p class="text-white mt-0 mb-5">This is your dashboard. You can view classes, access reporting, and manage classes and accounts.</p>
         </div>
      </div>
   </div>
</div>
{% endblock header %}
{% block content %}
<div class="content">
   <div class="row">
      <div class="col-md-12">
         <div class="card ">
            <div class="card-header">
               <!--Title needs to pull course name from db-->
               <h4 class="card-title">Course: {{ course_name }}</h4>
               <h4 class="card-title">Date: {{ current_date }}</h4>
            </div>
            <div class="btn-group">
               <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Date</button>
               <div class="dropdown-menu">
                  {%  for Date in class_dates %}
                  <a class="dropdown-item" id='{{Date.date}}' data-date='{{Date.date}}' href="#">{{Date.date}}</a>
                  {%  endfor %}
               </div>
            </div>
            <!-- /btn-group -->
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table tablesorter " id="">
                     <thead class=" text-primary">
                        <tr>
                           <th>
                              Name
                           </th>
                           <th>
                              Status
                           </th>
                           <th>
                              Makeup
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        {%  for Student in all_students %}
                        <tr>
                            <td>{{ Student.student_name }}</td>
                            {% if Student.status == 1 %}
                            <td>
                              <label class="switch" href="#" data-students_name="{{ Student.student_name }}" id = "switch_{{ Student.student_name }}"> 
                              <input type="checkbox" checked data-toggle="toggle" data-on="Absent" data-off="Present" data-onstyle="danger" data-offstyle="success" >
                              <span class="slider round"></span>
                              </label>
                            </td>
                            <td>
                              <div class="input-group date datepicker" id = "Date_{{ Student.student_name }}" data-provide="datepicker" data-students_name="{{ Student.student_name }}" data-date-start-date = "{{ current_date }}" style = "visibility: visible">
                                  <input type="text" class="form-control"> Current Makeup date: {{ Student.date }}
                                  <span class="input-group-addon">
                                     <span class="glyphicon glyphicon-th"></span>
                                  </span>
                              </div>
                            </td>
                            {% else %} 
                            <td>
                              <label class="switch" href="#" data-students_name="{{ Student.student_name }}" id="switch_{{ Student.student_name }}">
                              <input type="checkbox" data-toggle="toggle" data-on="Absent" data-off="Present" data-onstyle="danger" data-offstyle="success">
                              <span class="slider round"></span>
                              </label>
                            </td>
                            <td>
                              <div class="input-group date datepicker" id = "Date_{{ Student.student_name }}" data-provide="datepicker" data-students_name="{{ Student.student_name }}" data-date-start-date = "{{ current_date }}" style = "visibility: hidden">
                                  <input type="text" class="form-control">
                                  <span class="input-group-addon">
                                     <span class="glyphicon glyphicon-th"></span>
                                  </span>
                              </div>
                            </td>
                            {% endif %}
                        </tr>
                        {%  endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
<!-- DataTables -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.0/b-2.0.0/b-html5-2.0.0/b-print-2.0.0/fh-3.1.9/sp-1.4.0/datatables.min.js"></script>

<script type="text/javascript">
   $('.dropdown-item').click(function(){
   var date;
   date = $(this).attr("data-date");
   var url = window.location.href;
   var url_arr = url.split('/');
   url_arr.pop();
   url_arr.pop();
   url = url_arr.join('/');
   url = url + '/' + date;
   window.location.replace(url);
   });

  $('.switch').click(function(){
  var students_name;
  students_name = $(this).attr("data-students_name");
  student_date = $(this).attr("data-student_date")
  $.ajax(
  {
       type:"GET",
       url: "updateStudent",
       data:{
                studentName: students_name,
       },
  })

  var datep;
    datep = document.getElementById("Date_" + students_name);
    if(datep.style.visibility == 'hidden'){
      datep.style.visibility = 'visible';
    }else {
       datep.style.visibility = 'hidden';
    }
  });  
  
  function dateChanged(ev){
    var students_name, student_absent_date;
    students_name = $(this).attr("data-students_name");
    student_absent_date = $(this).datepicker("getDate"); 
    alert(student_absent_date);
    $.ajax(
    {
       type:"GET",
       url: "updateStudentAbsent",
       data:{
            studentName: students_name,
            absentDate: student_absent_date
       },
    })  
   };

  $('.datepicker').datepicker({
    autoclose: true,
  }).on('changeDate', dateChanged);
  
  $(document).ready(function() {
      $('.table').DataTable();
   } );

</script>

{% endblock scripts %}

