

{% extends "administrator/base.html" %}
{% block metadata %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock metadata %}
{% block topbar %}
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./">Reporting</a>
{% endblock topbar %}
{% block header %}
<div class="header bg-gradient-indigo pb-8 pt-5 pt-md-8">
   <div class="container-fluid d-flex align-items-center">
      <div class="row">
         <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">{{ user.get_short_name }}</h1>
            <p class="text-white mt-0 mb-5">This page displays each student's attendance per course session</p>
         </div>
      </div>
   </div>
</div>
{% endblock header %}
{% block content %}
<div class="content">
   <div class="row">
      <div class="col-md-12">
         <div class="card ">
            <div class="card-header">
               <!--Title needs to pull course name from db-->
               <h4 class="card-title"> Student Reports</h4>
               <h4 class="card-title">Course: {{ course_name }}</h4>
               <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Date</button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" id='All' data-date='0' href="#">All</a>
                     <a class="dropdown-item" id='January' data-date='1' href="#">January</a>
                     <a class="dropdown-item" id='February' data-date='2' href="#">February</a>
                     <a class="dropdown-item" id='March' data-date='3' href="#">March</a>
                     <a class="dropdown-item" id='April' data-date='4' href="#">April</a>
                     <a class="dropdown-item" id='May' data-date='5' href="#">May</a>
                     <a class="dropdown-item" id='June' data-date='6' href="#">June</a>
                     <a class="dropdown-item" id='July' data-date='7' href="#">July</a>
                     <a class="dropdown-item" id='August' data-date='8' href="#">August</a>
                     <a class="dropdown-item" id='September' data-date='9' href="#">September</a>
                     <a class="dropdown-item" id='October' data-date='10' href="#">October</a>
                     <a class="dropdown-item" id='November' data-date='11' href="#">November</a>
                     <a class="dropdown-item" id='December' data-date='12' href="#">December</a>
                  </div>
               </div>
               <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                     <thead class="thead-light">
                        <tr>
                           <th scope="col"> Student</th>
                           {%  for Date in all_dates %}
                           <th scope="col">{{Date.date}}</th>
                           {% endfor %}
                     </thead>
                     </tr>
                     <tbody>
                        {% for students in all_students %}
                        <tr>
                           <th scope="row">
                              <div class="media-body">
                                 <a class="mb-0 text-sm">{{students.student_name}} </a>
                              </div>
                           </th>
                           {% for date in status %}
                           {% ifequal date.students students.students %}
                           <td>
                              {{date.status}}
                           </td>
                           {% endifequal %}
                           {% endfor %}
                           {% endfor %}
                        </tr>
                     </tbody>
                  </table>
                  <div class="card-body">
                     <div class="table-responsive">
                        <table class="table tablesorter " id="">
                           <thead class=" text-primary">
                              <tr>
                           </thead>
                        </table>
                        </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
   $(document).ready(function(){
     //var chosenClass = $('.custom-select : selected').val();
     //var chosenClass = $('#inputGroupSelect03').find(":selected").text();
   });
     $('#btn').click(function(){

       var box = document.getElementById('inputGroupSelect01');
       chosenClass = box.options[box.selectedIndex].text;
       var box2 = document.getElementById('inputGroupSelect02');
       chosenStudent = box2.options[box2.selectedIndex].text;
       var box3 = document.getElementById('inputGroupSelect03');
       chosenReport = box3.options[box3.selectedIndex].text;
       alert(chosenClass + " " + chosenStudent + " " + chosenReport);

           });
</script>
<script type="text/javascript">
   $('.dropdown-item').click(function(){
   var date;
   date = $(this).attr("data-date");
   var url = window.location.href;
   var url_arr = url.split('/');
   url_arr.pop();
   url_arr.pop();
   url = url_arr.join('/');
   url = url + '/' + date;
   window.location.replace(url);
   });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock scripts %}
